<%
  request_url ||= (request.headers['x-request-url'] || request.url)

  # locals: { issues, issue }

  ######################### participated #################################
  participated_type_params = {}

  if params[:issues_user_id]
    participated_type_params.merge!(issues_user_id: params[:issues_user_id])
  end

  if params[:issues_status]
    participated_type_params.merge!(issues_status: params[:issues_status])
  end

  if params[:issues_tracker]
    participated_type_params.merge!(issues_tracker: params[:issues_tracker])
  end

  issues_participants_type_options = Participant::ROLES.map do |role|
    [
      l(:"label_participant_type_#{role}"),
      "type:is_#{role}",
      {
        href: generate_replace_href(request_url, issues_participants_type: "type:is_#{role}"),
        "data-href": participated_issues_url(participated_type_params.merge(issues_participants_type: "type:is_#{role}"))
      }
    ]
  end

  default_participated_type_options = [
    [
      l(:label_all),
      'type:all',
      {
        href: generate_replace_href(request_url, issues_participants_type: 'type:all'),
        "data-href": participated_issues_url(participated_type_params.merge(issues_participants_type: "type:all"))
      }
    ]
  ]

  issues_participants_type_options = if issues_participants_type_options.any?
    default_participated_type_options + [['- - - -', { disabled: true }]] + issues_participants_type_options
  else
    default_participated_type_options
  end

  ######################### tracker #################################
  tracker_params = {}

  if params[:issues_user_id]
    tracker_params.merge!(issues_user_id: params[:issues_user_id])
  end

  if params[:issues_status]
    tracker_params.merge!(issues_status: params[:issues_status])
  end

  if params[:issues_participants_type]
    tracker_params.merge!(issues_participants_type: params[:issues_participants_type])
  end

  issue_tracker_options = Issue.participants_of_user(@user, {
    tracker: "tracker:all",
    status: params[:issues_status],
    participants_type: params[:issues_participants_type]
  }).map(&:tracker).sort do |t1, t2|
    t1.position <=> t2.position
  end.map do |tracker|
    [
      tracker.name,
      "id:#{tracker.id}",
      {
        href: generate_replace_href(request_url, issues_tracker: "id:#{tracker.id}"),
        "data-href": participated_issues_url(tracker_params.merge(issues_tracker: "id:#{tracker.id}"))
      }
    ]
  end.uniq

  default_issue_tracker_options = [
    [
      l(:label_all),
      'tracker:all',
      {
        href: generate_replace_href(request_url, issues_tracker: 'tracker:all'),
        "data-href": participated_issues_url(tracker_params.merge(issues_tracker: "tracker:all"))
      }
    ]
  ]

  issue_tracker_options = if issue_tracker_options.any?
    default_issue_tracker_options + [['- - - -', { disabled: true }]] + issue_tracker_options
  else
    default_issue_tracker_options
  end

  ######################### status #################################
  status_params = {}

  if params[:issues_tracker]
    status_params.merge!(issues_tracker: params[:issues_tracker])
  end

  if params[:issues_participants_type]
    status_params.merge!(issues_participants_type: params[:issues_participants_type])
  end

  issue_status_options = Issue.participants_of_user(@user, {
    tracker: params[:issues_tracker],
    status: "status:all",
    participants_type: params[:issues_participants_type]
  }).map(&:status).sort do |s1, s2|
    s1.position <=> s2.position
  end.map do |status|
    [
      status.name,
      "id:#{status.id}",
      {
        href: generate_replace_href(request_url, issues_status: "id:#{status.id}"),
        "data-href": participated_issues_url(status_params.merge(issues_status: "id:#{status.id}"))
      }
    ]
  end.uniq

  default_issue_status_options = [
    [
      l(:label_all),
      'status:all',
      {
        href: generate_replace_href(request_url, issues_status: 'status:all'),
        "data-href": participated_issues_url(status_params.merge(issues_status: "status:all"))
      }
    ],
    [
      l(:label_open_issues),
      'status:open',
      {
        href: generate_replace_href(request_url, issues_status: 'status:open'),
        "data-href": participated_issues_url(status_params.merge(issues_status: "status:open"))
      }
    ],
    [
      l(:label_closed_issues),
      'status:closed',
      {
        href: generate_replace_href(request_url, issues_status: 'status:closed'),
        "data-href": participated_issues_url(status_params.merge(issues_status: "status:closed"))
      }
    ]
  ]

  issue_status_options = if issue_status_options.any?
    default_issue_status_options + [['- - - -', { disabled: true }]] + issue_status_options
  else
    default_issue_status_options
  end

  participants = Participant.where(
    :partable_type => Issue.to_s,
    :partable_id => @issues.map(&:id),
    :user_id => @user.id
  ).all

  participants_index = participants.index_by(&:partable_id)
%>

<div id="participated-issues">
  <div class="list-filter">
    <label class="list-filter-label"><%= l(:label_as) %>：</label><%= select_tag :issues_participants_type, options_for_select(issues_participants_type_options, params[:issues_participants_type] || "type:all"), :class => "filter-trigger" %>
    <%= select_tag :issues_tracker, options_for_select(issue_tracker_options, params[:issues_tracker] || Issue::DEFAULT_CHECKLISTS_TRACKER), :class => "filter-trigger" %>
    <%= select_tag :issues_status, options_for_select(issue_status_options, params[:issues_status] || Issue::DEFAULT_CHECKLISTS_STATUS), :class => "filter-trigger" %>
  </div>
  <h3 class="list-title"><%= l(:label_participanted_issues) %></h3>
  <% if @issues.any? %>
    <table class="list issues-list">
      <tr>
        <th><%= l(:field_project) %></th>
        <th><%= l(:field_status) %></th>
        <th><%= l(:field_issue) %></th>
      </tr>
      <% @issues.each do |issue| %>
        <% participant = participants_index[issue.id] %>
        <tr class="<%= issue.css_classes %>">
          <td class="project"><%= link_to_project(issue.project) %></td>
          <td class="status"><%= issue.status.name %></td>
          <td class="subject">
            <%= link_to_issue(issue) %>
            <% if participant.try(:roles_description_short).present? %>
              <span class="roles-description with-help" title="<%= participant.try(:roles_description) %>">
                【<%= participant.try(:roles_description_short) %>】
              </span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="list-empty"><%= l(:label_issues_empty) %></div>
  <% end %>
</div>
