<a href="javascript:;" class="close" style="display: none;"><%= l(:button_close) %></a>
<h3 class="title"><%= l(:field_checklist_edit) %></h3>
<div class="content-wrapper">
  <div id="content" class="content">
    <%= labelled_form_for checklist,
      :url => checklist_update_path(checklist, format: 'js'),
      :remote => true,
      :method => :put,
      :authenticity_token => true,
      :html => {
        :id => 'checklist-form',
        :class => 'with-indicator'
      } do |f| %>
      <fieldset class="tabular">
        <legend><%= l(:field_checklist_edit) %></legend>
        <%= render :partial => 'checklists/form', :locals => {
          :f => f,
          :checklist => checklist,
          :issue => issue,
          :project => project,
          :allowed_statuses => allowed_statuses,
          :priorities => priorities
        } %>
        <p id="attachments_form">
          <label><%= l(:label_attachment_plural) %></label>
          <%= render :partial => 'attachments/form', :locals => {:container => checklist} %>
        </p>
      </fieldset>

      <% if User.current.allowed_to?(:log_time, project) && @time_entry %>
        <fieldset class="tabular"><legend><%= l(:button_log_time) %></legend>
          <%= labelled_fields_for :time_entry, @time_entry do |time_entry| %>
          <div class="splitcontent">
          <div class="splitcontentleft">
          <p><%= time_entry.hours_field :hours, :size => 6, :label => :label_spent_time %> <%= l(:field_hours) %></p>
          </div>
          <div class="splitcontentright">
          <p><%= time_entry.select :activity_id, activity_collection_for_select_options %></p>
          </div>
          </div>
          <p><%= time_entry.text_field :comments, :size => 60 %></p>
          <% @time_entry.custom_field_values.each do |value| %>
            <p><%= custom_field_tag_with_label :time_entry, value %></p>
          <% end %>
          <% end %>
        </fieldset>
      <% end %>

      <% if checklist.notes_addable? %>
        <fieldset><legend><%= l(:field_notes) %></legend>
        <%= f.text_area :notes, :cols => 60, :rows => 4, :class => 'wiki-edit',
              :data => {
                  :auto_complete => true,
                  :issues_url => auto_complete_issues_path(:project_id => issue.project, :q => '')
              },
              :no_label => true %>
        <%= wikitoolbar_for 'checklist_notes', checklist_preview_path(:project_id => issue.project, :issue_id => issue.id, :checklist_id => checklist.id) %>

        <% if checklist.safe_attribute? 'private_notes' %>
          <%= f.check_box :private_notes, :no_label => true %> <label for="checklist_private_notes"><%= l(:field_private_notes) %></label>
        <% end %>

        <%= call_hook(:view_checklists_edit_notes_bottom, { :checklist => checklist, :issue => issue, :project => project, :form => f }) %>
        </fieldset>
      <% end %>
      <p class="form-actions">
        <%= submit_tag l(:button_update) %>
      </p>
    <% end %>
  </div>
</div>

