<a href="javascript:;" class="close" style="display: none;"><%= l(:button_close) %></a>
<h3 class="title"><%= l(:field_checklist_new) %></h3>
<%
  checklist_form_name = "checklist-form-for-issue-#{issue.id}"
%>
<div class="content-wrapper">
  <div id="content" class="content">
    <%= labelled_form_for checklist,
      :url => checklist_create_path(format: 'js'),
      :remote => true,
      :method => :post,
      :authenticity_token => true,
      :html => {
        :id => 'checklist-form',
        :'data-form-name' => checklist_form_name,
        :class => 'with-indicator'
      } do |f| %>
      <fieldset class="tabular">
        <legend><%= l(:field_checklist_new) %></legend>
        <%= render :partial => 'checklists/form', :locals => {
          :f => f,
          :checklist => checklist,
          :issue => issue,
          :project => project,
          :allowed_statuses => allowed_statuses,
          :priorities => priorities
        } %>
        <%= hidden_field_tag 'form_name', checklist_form_name %>
        <p id="attachments_form">
          <label><%= l(:label_attachment_plural) %></label>
          <%= render :partial => 'attachments/form', :locals => {:container => checklist} %>
        </p>
        <p class="form-actions">
          <%= submit_tag l(:button_create_and_continue), :name => 'continue' %>
          <%= submit_tag l(:button_create) %>
        </p>
      </fieldset>
    <% end %>
  </div>
</div>
