<%
  request_url ||= (request.headers['x-request-url'] || request.url)

  # locals: { checklists, issue }

  ######################### participated #################################
  participated_type_params = {}

  if params[:checklists_user_id]
    participated_type_params.merge!(checklists_user_id: params[:checklists_user_id])
  end

  if params[:checklists_status]
    participated_type_params.merge!(checklists_status: params[:checklists_status])
  end

  if params[:checklists_tracker]
    participated_type_params.merge!(checklists_tracker: params[:checklists_tracker])
  end

  checklists_participants_type_options = (['author', 'assigned_to']).map do |role|
    [
      l(:"label_participant_type_#{role}"),
      "type:is_#{role}",
      {
        href: generate_replace_href(request_url, checklists_participants_type: "type:is_#{role}"),
        "data-href": participated_checklists_url(participated_type_params.merge(checklists_participants_type: "type:is_#{role}"))
      }
    ]
  end

  default_participated_type_options = [
    [
      l(:label_all),
      'type:all',
      {
        href: generate_replace_href(request_url, checklists_participants_type: 'type:all'),
        "data-href": participated_checklists_url(participated_type_params.merge(checklists_participants_type: "type:all"))
      }
    ]
  ]

  checklists_participants_type_options = if checklists_participants_type_options.any?
    default_participated_type_options + [['- - - -', { disabled: true }]] + checklists_participants_type_options
  else
    default_participated_type_options
  end

  ######################### tracker #################################
  tracker_params = {}

  if params[:checklists_user_id]
    tracker_params.merge!(checklists_user_id: params[:checklists_user_id])
  end

  if params[:checklists_status]
    tracker_params.merge!(checklists_status: params[:checklists_status])
  end

  if params[:checklists_participants_type]
    tracker_params.merge!(checklists_participants_type: params[:checklists_participants_type])
  end

  checklist_tracker_options = Checklist.participants_of_user(@user, {
    tracker: "tracker:all",
    status: params[:checklists_status],
    participants_type: params[:checklists_participants_type]
  }).map(&:tracker).sort do |t1, t2|
    t1.position <=> t2.position
  end.map do |tracker|
    [
      tracker.name,
      "id:#{tracker.id}",
      {
        href: generate_replace_href(request_url, checklists_tracker: "id:#{tracker.id}"),
        "data-href": participated_checklists_url(tracker_params.merge(checklists_tracker: "id:#{tracker.id}"))
      }
    ]
  end.uniq

  default_checklist_tracker_options = [
    [
      l(:label_all),
      'tracker:all',
      {
        href: generate_replace_href(request_url, checklists_tracker: 'tracker:all'),
        "data-href": participated_checklists_url(tracker_params.merge(checklists_tracker: "tracker:all"))
      }
    ]
  ]

  checklist_tracker_options = if checklist_tracker_options.any?
    default_checklist_tracker_options + [['- - - -', { disabled: true }]] + checklist_tracker_options
  else
    default_checklist_tracker_options
  end

  ######################### status #################################
  status_params = {}

  if params[:checklists_user_id]
    status_params.merge!(checklists_user_id: params[:checklists_user_id])
  end

  if params[:checklists_tracker]
    status_params.merge!(checklists_tracker: params[:checklists_tracker])
  end

  if params[:checklists_participants_type]
    status_params.merge!(checklists_participants_type: params[:checklists_participants_type])
  end

  checklist_status_options = Checklist.participants_of_user(@user, {
    tracker: params[:checklists_tracker],
    status: "status:all",
    participants_type: params[:checklists_participants_type]
  }).map(&:status).sort do |s1, s2|
    s1.position <=> s2.position
  end.map do |status|
    [
      status.name,
      "id:#{status.id}",
      {
        href: generate_replace_href(request_url, checklists_status: "id:#{status.id}"),
        "data-href": participated_checklists_url(status_params.merge(checklists_status: "id:#{status.id}"))
      }
    ]
  end.uniq

  default_checklist_status_options = [
    [
      l(:label_all),
      'status:all',
      {
        href: generate_replace_href(request_url, checklists_status: 'status:all'),
        "data-href": participated_checklists_url(status_params.merge(checklists_status: "status:all"))
      }
    ],
    [
      l(:label_open_issues),
      'status:open',
      {
        href: generate_replace_href(request_url, checklists_status: 'status:open'),
        "data-href": participated_checklists_url(status_params.merge(checklists_status: "status:open"))
      }
    ],
    [
      l(:label_closed_issues),
      'status:closed',
      {
        href: generate_replace_href(request_url, checklists_status: 'status:closed'),
        "data-href": participated_checklists_url(status_params.merge(checklists_status: "status:closed"))
      }
    ]
  ]

  checklist_status_options = if checklist_status_options.any?
    default_checklist_status_options + [['- - - -', { disabled: true }]] + checklist_status_options
  else
    default_checklist_status_options
  end
%>

<div id="participated-checklists">
  <div class="list-filter">
    <%= link_to_user(@user) %>&nbsp;&nbsp;
    <label class="list-filter-label"><%= l(:label_as) %>ï¼š</label><%= select_tag :checklists_participants_type, options_for_select(checklists_participants_type_options, params[:checklists_participants_type] || "type:all"), :class => "filter-trigger" %>
    <%= select_tag :checklists_tracker, options_for_select(checklist_tracker_options, params[:checklists_tracker] || Issue::DEFAULT_CHECKLISTS_TRACKER), :class => "filter-trigger" %>
    <%= select_tag :checklists_status, options_for_select(checklist_status_options, params[:checklists_status] || Issue::DEFAULT_CHECKLISTS_STATUS), :class => "filter-trigger" %>
  </div>
  <h3 class="list-title"><%= l(:label_participanted_checklists) %></h3>
  <% if @checklists.any? %>
    <table class="list checklists-list">
      <tr>
        <th><%= l(:field_project) %></th>
        <th><%= l(:field_issue) %></th>
        <th><%= l(:field_status) %></th>
        <th><%= l(:field_title) %></th>
        <th><%= l(:field_user) %></th>
        <th><%= l(:field_date) %></th>
      </tr>
      <% @checklists.each do |checklist| %>
        <tr class="<%= checklist.css_classes %>">
          <td class="checklist-project"><%= link_to_project(checklist.project) %></td>
          <td class="checklist-issue"><%= link_to_issue(checklist.issue, :subject => false, :tracker => true) %></td>
          <td class="checklist-status"><%= checklist.status.name %></td>
          <td class="checklist-subject">
            <%= link_to_checklist(checklist) %>
          </td>
          <td class="checklist-user">
            <span class="checklist-author _unit"><%= checklist.author ? link_to_user(checklist.author) : "?" %></span>
            <span class="checklist-arrow _unit">â¤</span>
            <span class="checklist-assigned-to _unit"><%= checklist.assigned_to ? link_to_user(checklist.assigned_to) : "?" %></span>
          </td>
          <td class="checklist-date">
            <span class="checklist-start-date _unit"><%= format_date(checklist.start_date) %></span>
            <span class="checklist-arrow _unit">~</span>
            <span class="checklist-due-date _unit"><%= format_date(checklist.due_date) %></span>
          </td>
        </tr>
      <% end %>
    </table>
  <% else %>
    <div class="list-empty"><%= l(:label_checklists_empty) %></div>
  <% end %>
</div>
